
h1{
    color: rgba(220, 50, 101, 0.91);    /* màu chữ*/
    font-size: 20px ;   /* cỡ chữ*/
    font-family: Arial; /* kiểu chữ*/
    font-weight: 400;  /* độ đậm nhạt của chữ |100|-300-|400|-500-600-|700|-800-900*/
    text-align: center;/*căn chữ*/
    text-decoration: none; /*gạch chữ*/
    text-transform: uppercase;/* chữ hoa thường*/
    font-style: italic;/*in nghiêng*/
    line-height: 1.5;/*độ cao của dòng chữ*/
    background-color: aquamarine;/*màu nền*/
    width: auto;/*độ rộng của khối chữ*/
    float: left; /*căn lề khối chữ*/
    margin: 12px; /*viền ngoài*/
}
p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    line-height: 1.5;
}
i{
    color: aqua;
}
